<div class= "red_gradient">
  <div id = "results_background_image">

    <div class= "pages">

      <div class="page_headers"> Edit result</div>

      <div class="page_box">

      <label for="athlete_id" class= "box_content_blue">Competitor</label>
      <select name="athlete_id">
        <% @athletes.each do |athlete|%>
        <option value="<%= athlete.id %>"><%= 'selected' if @athletes_events.athlete_id == athlete.id %>><%=athlete.name %></option>
        <% end %>
      </select>

      <label for="event_id" class= "box_content_blue">Event</label>
      <select name="event_id">
        <% @events.each do |event|%>
        <option value="<%= event.id %>"><%= event.name %></option>
        <% end %>
      </select>

      <select name="nation_id">
        <% @nations.each do |nation| %>
        <option value="<%= nation.id %>" <%= 'selected' if @athlete.nation_id == nation.id %>><%= nation.name %></option>
        <%  end %>
      </select>


      <label for="name" class = "box_content_blue">Finishing position</label>
      <input type="text" name="name" id= "text_box">

        
       </div>

     </div>
   </div>
 </div>