<div class= "red_gradient">
  <div id = "results_background_image">

    <div class= "pages">

        <div class="page_headers"> Results </div>

        <div class= "sub_nav"><a href="athletes_events/new">+ new result</a></div>

        <div class= "profile_box">

            <table>
                <tr>
                    <td>School</td>
                    <td>Gold</td>
                    <td>Silver</td>
                    <td>Bronze</td>
                    <td>Total points</td>
                    <td>Edit</td>
                </tr>
                <% nations = @nations.each do |all_nations|%>
                <tr>
                    <td><%=all_nations[0]['name']%></td>
                    <td><%=all_nations[0]['gold_medals']%></td>
                    <td><%=all_nations[0]['silver_medals']%></td>
                    <td><%=all_nations[0]['bronze_medals']%></td>
                    <td><%=all_nations[1]%></td>
                    <td><a href="athletes_events/<%=all_nations[0]['id'] %>/edit">edit</td>
                    <tr>
                        <% end %>
                    </table>


                </div>
            </div>
        </div>
    </div>