<% profile = @athlete.profile %>

<div class= "blue_gradient">
  <div id = "athletes_background_image">

    <div class= "pages">

      <div class= "profile_box">
        <img src=<%= profile["avatar_url"]%> alt="avatar">
        <div class="page_headers"><%= profile["name"] %></div>


        <div class="edit">
          <a href="/athletes/<%= @athlete.id %>/edit">edit</a>
        </div>


        <div class="delete">
          <form action="/delete" method="post">
            <a href="/athletes/<%= @athlete.id %>/delete">delete</a>
          </form>
        </div>


        <table>
          <tr>
            <td>School</td>
            <td><%= profile["nation"] %></td>
          </tr>

          <tr>
            <td>Challenges</td>
            <td>
              <% profile["events"].each do |event| %>
              <a href="/events/<%= event.id %>"><%= event.name %></a>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>Gold medals:</td>
            <td><%= profile["gold_medals"] %></td>
          </tr>

          <tr>
            <td>Gold medal challenges:</td>
            <td>
              <% profile["gold_medal_events"].each do |event| %>
              <a href="/events/<%= event.id %>"><%= event.name %></a>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>Silver medals:</td>
            <td><%= profile["silver_medals"] %></td>
          </tr>

          <tr>
            <td>Silver medal challenges:</td>
            <td>
              <% profile["silver_medal_events"].each do |event| %>
              <a href="/events/<%= event.id %>"><%= event.name %></a>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>Bronze medals:</td>
            <td><%= profile["bronze_medals"] %></td>
          </tr>

          <tr>
            <td>Bronze medal challenges:</td>
            <td>
              <% profile["bronze_medal_events"].each do |event| %>
              <a href="/events/<%= event.id %>"><%= event.name %></a>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>Total medals</td>
            <td><%= profile["total_medals"] %></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>


