<div class= "yellow_gradient">
  <div id = "events_background_image">

    <div class= "pages">

<% profile = @event.profile %>
<br>
Type:
<%= profile["type"] %>
<br>
Name:
<%= profile["name"] %>
<br>
Athletes:
<% count = 1 %>
<% profile["athletes"].each do |athlete| %>
<br>
<%=count%>
<a href="/athletes/<%= athlete.id %>"><%= athlete.name %></a>
<% count += 1%>
<br>
<% end %>
<a href="/events/<%= @event.id %>/edit">Edit</a>

</div>
</div>
</div>
