<% profile = @nation.profile %>
<br>
Name:
<%= profile["name"] %>
<br>
Athletes:
<% profile["athletes"].each do |athlete| %>
<br>
<a href="/athletes/<%= athlete.id %>"><%= athlete.name %></a>
<br>
<% end %>
Events:
<% profile["events"].each do |event| %>
<br>
<a href="/events/<%= event.id %>"><%= event.name %></a>
<br>
<% end %>
<br>
Gold medals:
<%= profile["gold_medals"] %>
<br>
Silver medals:
<%= profile["silver_medals"] %>
<br>
Bronze medals:
<%= profile["bronze_medals"] %>
<br>
Total points:
<%= profile["total_points"] %>
<br>
